@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
 /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #8CDBFF, #466D80);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2e4652ad;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #6C7980;
text-align: center;
text-shadow: 1px 1px 2px #3a4044af;
}

h2 {
color: #70AFCC;

}

p {
    text-align: justify;
}